html,body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; 
}
.navbar{
  width: 100%;
  height: 124px;
  background-color: black;
  opacity: 0.9;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
  z-index: 999;
}
.header{
  margin-left: 20px;
}
.numbers{
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid white;
  margin-left: 26%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bars {
  margin-left: 20px;
  cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 110px;
    right: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    animation: slideDown 0.3s ease-in-out;
}
.dropdown-content a {
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
@keyframes slideDown {
    from { 
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container{
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: black;
}
.box{
  width: 100%;
  height: 320px;
  background-color: #FFD35A;
  border-radius: 0 0 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.foto{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid silver;
  background-image: url('assets/19-removebg-preview.png');
  background-size: cover;
  margin-top: 40px;
  margin-left: 10px;
}
.text{
  width: 150px;
  height: 40px;
  margin-top: 75px;
  margin-left: 30px;
  border: 1px solid silver;
  border-radius: 20px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prof{
  width: 90%;
  height: 100px;
  margin-left: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid silver;
  border-radius: 50px;
  background-color: white;
  color: #ffd35a;
}
.prof h2{
  font-size: 23px;
}
.box2{
  width: 85%;
  height: 200px;
  background-color: #ffd35a;
  border-radius: 30px;
  margin: 50px 0 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox{
  width: 140px;
  height: 140px;
  background-image: url('/assets/19-removebg-preview.png');
  background-size: cover;
  border-radius: 50%;
}
.content{
  width: 85%;
  margin: 30px 0 0 25px;
}
.tabel-informasi{
  width: 85%;
  margin: 30px 0 0 15px;
}
.tabel-informasi table{
  border: 1px solid silver;
  border-radius: 6px;
}
.tabel-informasi th{
  font-size: 20px;
  padding: 6px;
  border-bottom: 1px solid silver;
}
.tabel-informasi td{
  font-size: 16px;
  padding: 6px;
}
.tabel-informasi .tc{
  color: #ffd35a;
}
.slider {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.slider img {
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slides{
  border: 1px solid silver;
  margin-bottom: 10px;
}
.slider h2{
  text-align: center;
}
img.displaySlide {
  display: block;
  opacity: 1;
}
.btn{
  width: 90%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.btn button{
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
}
.contact{
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: 30px;
  background-color: #ffd35a;
  border-radius: 20px;
}
.contact h2{
  text-align: center;
  padding-top: 25px;
}
.contact h3{
  text-align: center;
}
.contact .github{
  width: 60%;
  height: 30px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}
.contact .logo{
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 12px;
}
#form{
  width: 100%;
  height: 300px;
  background-color: #eee;
  margin-top: 60px;
}
.footer{
  width: 100%;
  height: 90px;
  background-color: black;
  border: 1px solid black;
}
.cp{
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.dev{
  color: #ffd35a;
  font-size: 14px;
  text-align: center;
}
.tengah{
  width: 90%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tengah textarea{
  resize: none;
}
#nama{
  width: 92%;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  margin-top: 14px;
}
#email{
  width: 92%;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}
#feedback{
  background-color: white;
  border: 1px solid black;
}
#send{
  background-color: silver;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px;
  margin-top: 10px;
}









